<% layout('/layouts/boilerplate.ejs') -%>

<div class="container text-center mt-5">
    <h1 class="text-primary mb-4">Welcome to the IIT Jammu Night Mess Website</h1>
    <p class="lead mb-4">Explore the latest updates and features of the IIT Jammu Night Mess. Our platform provides easy access to meal menus, schedules, and more. Stay connected and informed about the best food and services available for you at the Night Mess!</p>
    
    
    <div class="mb-5">
        <img src="image1.png" alt="Night Mess Image" class="img-fluid rounded shadow-lg" />
    </div>
    
    <p class="text-muted">Our Night Mess offers a variety of meals designed to meet your needs and cravings. Whether you are looking for a quick bite or a late-night snack, we have got you covered. Stay tuned for more updates!</p>
</div>
