<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details</title>
</head>
<body>
    <div class="container">
        <ul>
            <li>
               <%= orders.token %> 
            </li>
            <li>
                <%= orders.quantity %> 
            </li>
            <li>
                <%= orders.status %> 
            </li>
            <li>
                <%= orders.createdAt %> 
            </li>
        </ul>
    </div>
</body>
</html>
